.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vw);
  color: white;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

.buttonHolder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.countryList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: calc(15px + 1vw);
}

@media screen and (max-width: 1280px) {
  .countryList {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  .buttonHolder {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .countryList {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}
.buttonHolder .sticker {
  display: flex;
  justify-content: center;
}

.stickerLabel {
  font-size: calc(12px + 0.5vw);
}
